/*  VARIABLES */
:root {
    --bg--white: #ffffff;
    --bg--grey: #f5f5f5;
    --text: #999999;
}

/* FUENTES */

@font-face {
    font-family: TitilliumFont;
    src: url("fonts/Titillium_Web/TitilliumWeb-Regular.ttf");
}

/* SELECTORES GLOBALES */

body {
    font-family: TitilliumFont;
}

nav {
    font-size: 150%;
}

.show-modal{
    display: block;
}

.hide-modal{
    display: none !important;
}

/* SELECTORES */
.badge-secondary{
    font-size: 55%;
}

#content-plus i {
    font-size: 28px;
}

#content-plus i:active{ 
    border: 1px solid transparent;
}

#stock{
    margin-top: 4%;
    padding-right: 3px;
    padding-left: 3px;

}

#stock .col-sm{

    width: 50%;
}

.picture-car{
   padding: 3%;
}

.car-tab{
    
    padding: 1%;
    border: 3px ridge black;
    box-shadow: 5px 5px 5px #5f5e5e;
    margin: 4%;
}

.car-tab .row{
    margin-right: 0;
    margin-left: 0;
}

.car-tab .col-sm{
   border: 1px dashed black;
   
}

.btns-edit-car{
    justify-content: center;
 
}

.btns-edit-car input{
    display: none;
}

#images{
    margin-top: 4%;
}

#images img{

    width: 100%;
}

.contentImg{
    margin-bottom:2%;
    display: flex;
    flex-direction: column;
}

.imgTitle{
    text-decoration: underline;
}


/* .btns-edit-car button{
    font-size: 122%;
    margin: 1%;
}

.btns-edit-car form button{
    font-size: 122%;
    margin: 1%;
} */

.info-car{
    padding: 3%;
}



/* RESPONSIVE */

/* @media (min-width: 576px) and (max-width: 767.98px) { ... }

@media (min-width: 768px) and (max-width: 991.98px) { ... }

@media (min-width: 992px) and (max-width: 1199.98px) { ... }

@media (min-width: 1200px) { ... } */


@media (min-width: 768px) {

    .car-tab{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .picture-car{
        padding: 0;
        width: 19%;
    }

    .info-car{
        width: 77%;
    }

    .btns-edit-car{
        flex-wrap: nowrap;
    }


}
