/*  VARIABLES */
:root {
    --bg--white: #ffffff;
    --bg--grey: #f5f5f5;
    --text: #999999;
}

#login {
    background-image: url("../assets/img/road.jpeg");
    background-size: cover;
    background-position-x: 58%;
    min-height: 625px;
}


#login #content-form {
    margin: 0 auto;
    text-align: center;
    width: 95%;
    padding-top: 35%;
}

#content-form form {
    height: 47%;
    border: 2px solid var(--bg--grey);
    background-color: var(--bg--grey);
    padding: 5%;
}

#login h4 {
    font-size: 170%;
}

#login .btn {
    width: 100%;
    margin-bottom: 3%;
    padding: 7px;
}

#login #registro {
    opacity: 0.8;
}

#rememberData{
    text-align: initial;
}

/* RESPONSIVE */

@media (max-width: 575.98px) { 
   
 

 }

@media (min-width: 576px) and (max-width: 991.98px) { 



 }

/* @media (min-width: 768px) and (max-width: 991.98px) { ... }

@media (min-width: 992px) and (max-width: 1199.98px) { ... }

@media (min-width: 1200px) { ... } */ */